# An example of a `.env` file with variables you might want to set on your computer

# These must exist to register and update your commands,
# as well as receiving and responding to interactions
DISCORD_CLIENT_ID=...
DISCORD_PUBLIC_KEY=...
DISCORD_CLIENT_SECRET=...

# Automatically set on the Micro, but if you want to test 
# things that require using the real database,
# or insert data into it from outside the micro,
DETA_PROJECT_KEY=...

# You can hardcode the Guild ID or set it as an environment variable, but I recommend 
# having one to update the commands faster while developing your bot
TESTING_GUILD=...